<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Dê um lar cheio de amor para um pet</h1>
      <p>
        Conectamos animais que precisam de um lar com pessoas dispostas a dar
        amor e cuidado. Faça parte dessa corrente do bem!
      </p>

      <div class="buttons">
        <a mat-flat-button color="primary">Ver Pets Disponíveis</a>
        <a mat-stroked-button color="primary">Quero Adotar Agora</a>
      </div>
    </div>
    <div class="hero-image">
      <img
        ngSrc="dog_hero.jpg"
        fill
        alt="Imagem de um cachorro feliz adotado"
        priority
      />
    </div>
  </div>
</section>
