<header>
  <mat-toolbar>
    <div class="toolbar-container">
      <a mat-button color="primary">
        <div class="logo">
          <lucide-icon [img]="pawIcon"></lucide-icon>
          <span>Patas Felizes</span>
        </div>
      </a>

      <button
        mat-button
        [matMenuTriggerFor]="mainMenu"
        color="primary"
        class="menu-btn"
      >
        <lucide-icon [img]="menuIcon"></lucide-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <button mat-menu-item href="">Link 1</button>
        <button mat-menu-item href="">Link 2</button>
        <button mat-menu-item href="">Link 3</button>
        <button mat-menu-item href="">Link 4</button>
      </mat-menu>

      <nav class="nav-links">
        <a mat-button href="">Link 1</a>
        <a mat-button href="">Link 2</a>
        <a mat-button href="">Link 3</a>
        <a mat-button href="">Link 4</a>
      </nav>
    </div>
  </mat-toolbar>
</header>

<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Dê um lar cheio de amor para um pet</h1>
      <p>
        Conectamos animais que precisam de um lar com pessoas dispostas a dar
        amor e cuidado. Faça parte dessa corrente do bem!
      </p>

      <div class="buttons">
        <a mat-flat-button color="primary">Ver Pets Disponíveis</a>
        <a mat-stroked-button color="primary">Quero Adotar Agora</a>
      </div>
    </div>
    <div class="hero-image">Imagem</div>
  </div>
</section>

<app-benefits></app-benefits>
