.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    lucide-icon {
      display: flex;
    }

    span {
      font: var(--mat-sys-title-large);
    }
  }

  .menu-btn {
    lucide-icon {
      display: flex;
    }
  }

  .nav-links {
    display: none;
  }

  @media (width >= 48rem) {
    .nav-links {
      display: flex;
    }

    .menu-btn {
      display: none;
    }
  }
}

footer {
  background-color: #1f2937;
  padding: 3rem 1rem;

  .footer-content {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    h2 {
      color: white;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    p,
    a {
      color: #9ca3af;
      margin: 0;
    }

    .footer-links-grid {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 2rem;

      .logo {
        display: flex;
        gap: 0.5rem;

        lucide-icon {
          display: flex;
          color: white;
        }
      }

      .footer-contact-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        lucide-icon {
          display: flex;
          color: #9ca3af;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    hr {
      width: 100%;
      border: 1px solid #9ca3af;
    }
  }
}
