<header>
  <mat-toolbar>
    <div class="toolbar-container">
      <a mat-button color="primary">
        <div class="logo">
          <lucide-icon [img]="pawIcon"></lucide-icon>
          <span>Patas Felizes</span>
        </div>
      </a>

      <button
        mat-button
        [matMenuTriggerFor]="mainMenu"
        color="primary"
        class="menu-btn"
      >
        <lucide-icon [img]="menuIcon"></lucide-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <button mat-menu-item href="">Link 1</button>
        <button mat-menu-item href="">Link 2</button>
        <button mat-menu-item href="">Link 3</button>
        <button mat-menu-item href="">Link 4</button>
      </mat-menu>

      <nav class="nav-links">
        <a mat-button href="">Link 1</a>
        <a mat-button href="">Link 2</a>
        <a mat-button href="">Link 3</a>
        <a mat-button href="">Link 4</a>
      </nav>
    </div>
  </mat-toolbar>
</header>

<section class="hero">
  <div class="hero-content">
    <h1>Lorem ipsum, dolor sit amet</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facere
      aliquid nobis rerum excepturi? Ab, cupiditate. Excepturi aut similique
      enim, necessitatibus, accusamus distinctio voluptates nulla commodi velit
      aperiam ipsum pariatur!
    </p>

    <div>
      <a mat-flat-button color="primary">lorem</a>
      <a mat-stroked-button color="primary">lorem</a>
    </div>
  </div>
</section>
